{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Gold/Silver Purchases</h1>
  <div class="d-flex justify-content-end mb-3">
    <a href="{% url 'gsp:createparty' %}" class="btn btn-success">Create Party</a>
    <a href="{% url 'gsp:create' %}" class="btn btn-primary">Create Purchase</a>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>Bill No</th>
          <th>Bill Date</th>
          <th>Party</th>
          <th>PAN No</th>
          <th>Particulars</th>
          <th>Metal</th>
          <th>Qty</th>
          <th>Rate</th>
          <th>Wages</th>
          <th>Amount</th>
          <th>Payment</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for p in purchases %}
        <tr>
          <td>{{ p.bill_no }}</td>
          <td>{{ p.bill_date}}</td>
          <td>{{ p.party.party_name }}</td>
          <td>{{ p.party.panno }}</td>
          <td>{{ p.particular }}</td>
          <td>{{ p.metal_type }}</td>
          <td>{{ p.quantity }}</td>
          <td>{{ p.rate }}</td>
          <td>{{ p.wages }}</td>
          <td>{{ p.amount }}</td>
          <td>{{ p.get_payment_mode_display }}</td>
          <td>
            <a href="{% url 'gsp:update' p.pk %}" class="btn btn-sm btn-warning">Edit</a>
            <a href="{% url 'gsp:delete' p.pk %}" class="btn btn-sm btn-danger">Delete</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="11" class="text-center">No purchases yet.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock %}


