{% extends 'base.html' %}

{% block content %}

    <div class="container mt-5">
      <h1 class="text-center mb-4">{{ form_title }}</h1>
      <div class="card shadow">
        <div class="card-body">
          <form method="post" novalidate>
            {% csrf_token %}
            <div class="row g-3">
              {{ form }}
              <!-- <div class="col-md-6">
                <label for="maincategory" class="form-label">Main Category Name</label>
                <input
                  type="text"
                  id="maincategory"
                  name="maincategory"
                  class="form-control"
                  value="{{ form.maincategory.value|default:'' }}"
                  placeholder="Enter  Name "
                  required
                />
                {% if form.maincategory.errors %}<div class="text-danger small">{{ form.party_name.errors }}</div>{% endif %}

              </div> -->
            
            </div>

            <div class="d-flex justify-content-end mt-4">
              <button type="submit" class="btn btn-success me-2">Save</button>
              <a href="{% url 'ornament:list' %}" class="btn btn-secondary">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  
    {% endblock %}